*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-content{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 90, 115);
    text-align: center;
    flex-direction: row;

}
.inner-content{
    width: 350px;
    height: 400px;
    margin: 100px 30px 100px 30px;
    padding: 10px;
    border: 1px solid rgb(121, 121, 140);
    box-shadow: 2px 2px 4px 5px rgb(121, 121, 140);
    background-color: white;
}
h1{
    text-align: center;
    color: aliceblue;
    background-color:rgb(121, 121, 140) ;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}
input{
    
    height: 30px;
    text-align: center;
    
    width: 60%;
    top: 10px;
    border:none;
    border-bottom: 1px solid gray;
    outline: none;
    
    height: 30px;
    font-size: 20px;
    
    

}
button{
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    border: none;
    font-size: 25px;
    color: white;
    width: 40px;
    min-height: 40px;
}
button:hover{
    background-color: green;
}
ol{
    margin-top: 20px;
}
ol li{
    list-style-type: none;
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: gray;
    text-transform: capitalize;
    margin-left: 15px;
    
}

.todoStyle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
}
.todoStyle bi{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: gray;
    border-radius: 50%;
    color: aliceblue;
    margin-top: 30px;
    
}